<div class="container">
  <div class="table-bordered">
    <div class="card">
      <div class="card-header">
        <a class="btn btn-primary btn-sm" href="#" role="button"><b>create article</b></a>
      </div>
      <div class="card-body">
        <%= form_with model: @article, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="article_author_id">Author:</label>
            <%= f.collection_select :author_id, Author.all, :id, :name, :prompt => "Select a Author",class:'form-control',:required => true %>
          </div>
          <div class="form-group">
            <label for="article_category_id">Category:</label>
            <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Category",class:'form-control',:required => true %>
          </div>
          <div class="form-group">
            <label for="article_tag_id">Tag:</label>
            <%= f.collection_select :tag_id, Tag.all, :id, :name, :prompt => "Select a Tag",class:'form-control',:required => true %><br>
            <label for="article_tag_id">or create one:</label>
            <%= f.text_field :new_tag_name,class: 'form-control' %>
          </div>
          <div class="form-group"> 
            <%= f.check_box :is_published %><%= f.label :is_published %> 
          </div>
          <div class="form-group">
            <%= link_to 'Back', articles_path, class: 'btn btn-warning btn-sm' %>
            <%= f.submit 'Save',class:'btn btn-success btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
