<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
<p>
  <strong> Author:</strong> 
  <%= @article.author.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @article.category_id%>
</p>
<p>
  In Tag: <%= @article.tag_id %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>