<!DOCTYPE html>
<html>
<head>
  <title>Firstapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%=render "layouts/header" %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    
  <% else %>
  <!--   <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %> -->
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>






<body>
  <%= yield %>
</body>
</html>
